/* 汎用 */
.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.header {
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-btn {
    display: flex;
    display: inline-block;
    margin-top: 30px;
    margin-right: 40px;
}

.header-btn a {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    transition: .2s;
    margin: 0 8px;
}

.logout-btn {
    margin-top: 20px;
    margin-right: 40px;
}

.logout-btn button {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    transition: .2s;
    margin: 0 8px;
}

.header-btn a:hover {
    transition: .2s;
    background-color: black;
    color: white;
}

.logout-btn button:hover {
    transition: .2s;
    background-color: black;
    color: white;
}

.header-inner {
    width: 100%
}

.header-logo {
    width: 110px;
    margin-left: 45px;
    margin-top: 8px;
}

.header-logo img {
    width: 100%;
    height: auto;
}
.flex {
    display: flex;
}
.b-flex {
    display: flex;
    justify-content: space-between;
}

/* ローディング */
.loading-box {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
  
.loaded {
    opacity: 0;
    pointer-events: none;
}

.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}
  
.l-inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}
  
.l-inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}
  
.l-inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}
  
.l-inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}
  
@keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
  
@keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
  
@keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.footer {
    height: 300px;
    background-color: black;
    position:relative;
}

.footer h3 {
    font-size: 28px;
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}